#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
*.VC.db
*.iobj
*.ipdb
*.pdb
*.vspx
ipch/
obj/
_build/
[Bb]in
Ankh.NoLoad
Raytracer/Debug/
Raytracer/Release/
Release/Raytracer.pdb
.vs/
3DLibsSetup.rar
